@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #ffcbe4;
  display: flex;
  padding: 24px 36px;
  justify-content: space-between;
  /*border-bottom: 2px solid;
  border-color: #cc0363; */
}

nav ul {
  width: 30%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

nav ul a {
  font-weight: bold;
  color: #cc0363;
  font-size: 1.4em;
  text-decoration: none;
}

nav ul a:hover {
  color: #ffacd4;
}

/* Hamburger Menu */
.menu-toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #cc0363;
    border-radius: 3px;
}

/* Responsive Breakdown */

/* ukuran mobile */
@media screen and (max-width: 1000px) {
  nav {
    height: 24px;
    align-items: center;
    justify-items: auto;
  }

  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
    nav {
        justify-content: space-around;
    }
    nav ul {
      display: none;
    }
  }